body {
  margin: 0;
  padding: 30px;
  font-family: 'Tahoma', sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
}

.button {
  box-sizing: border-box;
  margin-right: 20px;
  padding: 7px 20px;
  text-transform: uppercase;
  color: white;
  background-color: #654321;
  border: 3px solid white;
}

.button--nav {
  padding: 10px 20px;
  background-color: darkorchid;
}

.create {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  box-sizing: border-box;
  min-height: 36px;
  padding: 0 5px;
  font-size: inherit;
}