body {
  margin: 0;
  padding: 30px;
  font-family: 'Tahoma', sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
}

main {
  padding-top: 10px;
}

.page-title {
  margin: 15px 0;
  font-size: 30px;
}

.page-subtitle {
  margin: 5px 0;
  font-size: 18px;
}

.button {
  box-sizing: border-box;
  min-width: 100px;
  margin-right: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  color: white;
  background-color: #4b0082;
  border: 1px solid white;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.5);
}

.button:disabled {
  opacity: 0.3;
  cursor: auto;
  filter: none;
}

.button--nav {
  background-color: green;
}

.button--select,
.button--remove {
  padding-top: 2px;
  padding-bottom: 2px;
}

.button--race {
  align-self: flex-start;
  min-width: 22px;
  margin-right: 5px;
  padding: 1px;
  background-color: green;
}

.editor {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.controls {
  padding: 5px 0;
}

.input {
  box-sizing: border-box;
  min-height: 30px;
  padding: 0 2px;
  font-size: inherit;
}

.input--color:not(:disabled) {
  cursor: pointer;
}

.car-list {
  padding-top: 10px;
}

.car {
  border-bottom: 1px dashed white;
}

.car__info {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.car__title {
  margin: 0 20px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.car__main {
  display: flex;
  align-items: flex-end;
}

.car__image {
  width: 70px;
  height: auto;
  margin-left: 10px;
}

.car__image svg,
.winner__image svg {
  max-width: 100%;
  height: auto;
}

.car__flag {
  height: 35px;
  margin-left: auto;
  margin-right: 80px;
}

.pagination {
  padding: 25px 0 10px;
}

.finish-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: yellow;
  text-shadow: 2px 8px 6px rgb(0 0 0), 0px -5px 35px rgb(255 255 255);
}

.finish-message--shown {
  display: block;
}

.winner-list {
  padding: 15px 0;
}

.winner {
  display: grid;
  grid-template-columns: repeat(2, 40px) 200px repeat(2, 40px);
  grid-gap: 25px;
  padding: 5px 0;
}

.winner__image {
  width: 50px;
  height: auto;
}

.winner__title {
  white-space: nowrap;
}
