.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: monospace;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto 10px;
}

.button {
  min-height: 50px;
  padding: 10px;

  font: inherit;

  color: white;
  background-color: indigo;
  border-radius: 10px;

  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 650px;
  
  margin: 0 auto;
  text-align: center;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.game-field {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;

  border: 5px solid indigo;
  border-radius: 10px;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  box-sizing: border-box;

  font-size: 60px;

  background-color: lightseagreen;
  border: 3px solid white;
  border-radius: 10px;
  cursor: move;
  transition: all 0.5s ease;
}

.tile--empty {
  background-color: transparent;
  border-color: transparent;
}

.tile:active {
  border: 2px solid indigo;
}
