.first {
    max-width: 1600px;
    height: 390px;
    margin: -3px auto 0;
}

.first__img {
    display: block;
    height: 100%;
}

@media (max-width: 1599px) {
    .first {
        margin-top: 0;
    }
    
    .first__img {
        object-fit: cover;
        object-position: -171px;
    }
}

@media (max-width: 999px) {
    .first {
        height: 335px;
    }
    
    .first__img {
        object-position: -272px;
    }
}

@media (max-width: 639px) {
    .first {
        height: 187px;
    }
    
    .first__img {
        object-position: -149px;
    }
}
