.footer {
    grid-area: footer;
    background-color: var(--black);
    color: var(--white);
    z-index: 2;
}

.page--donate .footer {
    margin-top: 0;
}

.footer__wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 40px 0 50px;

    display: flex;
}

.footer__logo {
    margin-bottom: 63px;
}

.footer__button {
    margin-bottom: 44px;
}

.footer__social-item {
    margin-bottom: 10px;
    min-height: 26px;
}

.footer__social-item:last-child {
    margin-bottom: 0;
}

.footer__social-link {
    display: flex;
    align-items: center;

    text-decoration: none;

    color: var(--white);
}

.footer__social-link:active {
    color: var(--green);
}

.footer__social-link::before {
    /* position: absolute; */
    content: "";

    /* top: -3px;
    right: 266px; */

    width: 26px;
    height: 26px;
    margin-right: 12px;
    border-radius: 50%;

    background-color: rgba(196, 196, 196, 0.5);

    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
}

.footer__social-link:active::before {
    background: var(--green);
}

.footer__facebook::before {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 2.75H6.4c-1.102 0-1.067.393-1.067 1.112V5H8l-.533 3H5.333v8H1.6V8H0V5h1.6V3.587C1.6 1.337 2.797 0 5.627 0H8v2.75z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer__facebook:active::before {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 2.75H6.4c-1.102 0-1.067.393-1.067 1.112V5H8l-.533 3H5.333v8H1.6V8H0V5h1.6V3.587C1.6 1.337 2.797 0 5.627 0H8v2.75z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer__twitter::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 1.657a6.201 6.201 0 0 1-1.885.557A3.511 3.511 0 0 0 15.558.258c-.634.405-1.337.7-2.085.858C12.875.429 12.022 0 11.077 0 9.265 0 7.795 1.582 7.795 3.534c0 .277.029.547.085.806C5.152 4.192 2.733 2.785 1.114.647a3.727 3.727 0 0 0-.445 1.777c0 1.226.58 2.308 1.46 2.942a3.095 3.095 0 0 1-1.486-.443v.045c0 1.712 1.131 3.14 2.633 3.465a3.069 3.069 0 0 1-1.483.06c.418 1.405 1.63 2.427 3.067 2.455-1.124.948-2.539 1.513-4.077 1.513-.265 0-.526-.016-.783-.049A8.818 8.818 0 0 0 5.032 14c6.038 0 9.34-5.386 9.34-10.056 0-.153-.004-.306-.01-.457A6.973 6.973 0 0 0 16 1.657z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer__twitter:active::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 1.657a6.201 6.201 0 0 1-1.885.557A3.511 3.511 0 0 0 15.558.258c-.634.405-1.337.7-2.085.858C12.875.429 12.022 0 11.077 0 9.265 0 7.795 1.582 7.795 3.534c0 .277.029.547.085.806C5.152 4.192 2.733 2.785 1.114.647a3.727 3.727 0 0 0-.445 1.777c0 1.226.58 2.308 1.46 2.942a3.095 3.095 0 0 1-1.486-.443v.045c0 1.712 1.131 3.14 2.633 3.465a3.069 3.069 0 0 1-1.483.06c.418 1.405 1.63 2.427 3.067 2.455-1.124.948-2.539 1.513-4.077 1.513-.265 0-.526-.016-.783-.049A8.818 8.818 0 0 0 5.032 14c6.038 0 9.34-5.386 9.34-10.056 0-.153-.004-.306-.01-.457A6.973 6.973 0 0 0 16 1.657z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer__instagram::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.702.048C3.85.087 3.269.222 2.76.42a3.918 3.918 0 0 0-1.417.923c-.445.444-.719.89-.923 1.417-.198.509-.333 1.09-.372 1.942C.01 5.555 0 5.827 0 8s.01 2.445.048 3.298c.039.852.174 1.433.372 1.942.204.526.478.973.923 1.417.445.445.89.718 1.417.923.509.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.445-.01 3.299-.048c.851-.039 1.433-.174 1.942-.372a3.925 3.925 0 0 0 1.417-.923c.444-.444.718-.89.922-1.417.198-.509.333-1.09.372-1.942.039-.853.048-1.125.048-3.298s-.009-2.445-.048-3.298c-.039-.852-.174-1.433-.372-1.942a3.923 3.923 0 0 0-.922-1.417A3.923 3.923 0 0 0 13.24.42C12.73.222 12.15.087 11.299.048 10.445.01 10.173 0 8 0S5.555.01 4.702.048zm.065 14.464c-.78-.036-1.203-.166-1.485-.276a2.482 2.482 0 0 1-.92-.598 2.479 2.479 0 0 1-.598-.92c-.11-.282-.24-.705-.276-1.485-.038-.844-.047-1.097-.047-3.233s.009-2.39.047-3.233c.036-.78.166-1.203.276-1.485a2.48 2.48 0 0 1 .598-.92c.28-.28.546-.454.92-.598.282-.11.705-.24 1.485-.276.844-.038 1.097-.047 3.233-.047s2.39.009 3.233.047c.78.036 1.203.166 1.485.276.374.144.64.318.92.598.28.28.453.546.599.92.11.282.24.705.275 1.485.039.844.046 1.097.046 3.233s-.007 2.389-.046 3.233c-.036.78-.166 1.203-.275 1.485-.146.373-.319.64-.599.92-.28.28-.546.453-.92.598-.282.11-.705.24-1.485.276-.844.038-1.097.046-3.233.046s-2.389-.008-3.233-.046zM11.31 3.729a.96.96 0 1 0 1.92 0 .96.96 0 0 0-1.92 0zM3.892 8a4.108 4.108 0 1 0 8.216 0 4.108 4.108 0 0 0-8.216 0zm1.442 0a2.667 2.667 0 1 1 5.333 0 2.667 2.667 0 0 1-5.333 0z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer__instagram:active::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.702.048C3.85.087 3.269.222 2.76.42a3.918 3.918 0 0 0-1.417.923c-.445.444-.719.89-.923 1.417-.198.509-.333 1.09-.372 1.942C.01 5.555 0 5.827 0 8s.01 2.445.048 3.298c.039.852.174 1.433.372 1.942.204.526.478.973.923 1.417.445.445.89.718 1.417.923.509.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.445-.01 3.299-.048c.851-.039 1.433-.174 1.942-.372a3.925 3.925 0 0 0 1.417-.923c.444-.444.718-.89.922-1.417.198-.509.333-1.09.372-1.942.039-.853.048-1.125.048-3.298s-.009-2.445-.048-3.298c-.039-.852-.174-1.433-.372-1.942a3.923 3.923 0 0 0-.922-1.417A3.923 3.923 0 0 0 13.24.42C12.73.222 12.15.087 11.299.048 10.445.01 10.173 0 8 0S5.555.01 4.702.048zm.065 14.464c-.78-.036-1.203-.166-1.485-.276a2.482 2.482 0 0 1-.92-.598 2.479 2.479 0 0 1-.598-.92c-.11-.282-.24-.705-.276-1.485-.038-.844-.047-1.097-.047-3.233s.009-2.39.047-3.233c.036-.78.166-1.203.276-1.485a2.48 2.48 0 0 1 .598-.92c.28-.28.546-.454.92-.598.282-.11.705-.24 1.485-.276.844-.038 1.097-.047 3.233-.047s2.39.009 3.233.047c.78.036 1.203.166 1.485.276.374.144.64.318.92.598.28.28.453.546.599.92.11.282.24.705.275 1.485.039.844.046 1.097.046 3.233s-.007 2.389-.046 3.233c-.036.78-.166 1.203-.275 1.485-.146.373-.319.64-.599.92-.28.28-.546.453-.92.598-.282.11-.705.24-1.485.276-.844.038-1.097.046-3.233.046s-2.389-.008-3.233-.046zM11.31 3.729a.96.96 0 1 0 1.92 0 .96.96 0 0 0-1.92 0zM3.892 8a4.108 4.108 0 1 0 8.216 0 4.108 4.108 0 0 0-8.216 0zm1.442 0a2.667 2.667 0 1 1 5.333 0 2.667 2.667 0 0 1-5.333 0z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer__youTube::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.006 5.773 7.494 3.517s-1.254-.57-1.254.502V9.03s.024.764 1.254.25c.856-.357 4.512-2.255 4.512-2.255s.933-.598 0-1.253zm5.515 5.012c-.559 1.59-1.754 1.795-2.757 2.005-1.479.31-10.992.271-12.535-.25-.962-.326-1.554-.466-2.005-2.757-.289-1.466-.308-5.78 0-7.268C.522 1.075 1.27.398 2.73.259c3.92-.371 10.474-.319 12.534 0 1.91.296 2.309 1.435 2.507 2.506.32 1.735.358 6.287-.25 8.02z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer__youTube:active::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.006 5.773 7.494 3.517s-1.254-.57-1.254.502V9.03s.024.764 1.254.25c.856-.357 4.512-2.255 4.512-2.255s.933-.598 0-1.253zm5.515 5.012c-.559 1.59-1.754 1.795-2.757 2.005-1.479.31-10.992.271-12.535-.25-.962-.326-1.554-.466-2.005-2.757-.289-1.466-.308-5.78 0-7.268C.522 1.075 1.27.398 2.73.259c3.92-.371 10.474-.319 12.534 0 1.91.296 2.309 1.435 2.507 2.506.32 1.735.358 6.287-.25 8.02z' fill='%23fff'/%3E%3C/svg%3E");
}

.footer__nav-list {
    align-self: flex-end;
    margin-left: 101px;
    display: flex;
    align-items: center;
}

.footer__nav-item {
    margin-right: 58px;
}

.footer__nav-item:last-child {
    margin-right: 32px;
}

.footer__link {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.footer__link--active {
    color: #F9804B;
}

.footer__link:hover {
    color: yellow;
}

.footer__link:active {
    color: #F9804B;
}

.footer__right {
    display: flex;
    flex-direction: column;
}

.footer__copyright {
    margin-top: auto;
    align-self: flex-end;
    font-weight: 100;
    line-height: 130%;
}

.footer__copyright p {
  margin-top: 10px;
}

@media (max-width: 1599px) {
    .footer__wrapper {
        position: relative;
        padding: 40px 18px 50px 43px;
    }
    
    .footer__nav-list {
        margin-left: -7px;
    }

    .footer__nav-item {
        margin-right: 48px;
    }

    .footer__right {
        margin-left: auto;
    }

    .footer__form {
        position: absolute;
        width: 366px;
        right: 50px;
        top: 40px;
    }
}