.header {
    position: relative;
    background-color: var(--black);
    color: var(--white);
    z-index: 2;
}

.header__wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 14px 0;

    display: flex;
    align-items: center;
}

.header__logo-block {
    margin-right: 63px;
}

.header__logo {
    display: block;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__nav-item {
    margin-right: 58px;
}

.header__link {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.header__link--active {
    color: #F9804B;
}

.header__link:hover {
    color: yellow;
}

.header__link:active {
    color: #F9804B;
}
