.header {
    grid-area: header;
    position: relative;
    background-color: var(--black);
    color: var(--white);
    z-index: 2;
}

.header__wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 14px 0;

    display: flex;
    align-items: center;
}

.header__logo-block {
    margin-right: 63px;
}

.header__logo {
    display: block;
}

.header__nav {
    margin-right: auto;
}

.header__nav-burger {
    font-size: 0;
    display: none;
}

.header__nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__nav-item {
    margin-right: 58px;
}

.header__link {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.header__link--active {
    color: #F9804B;
}

.header__link:hover {
    color: yellow;
}

.header__link:active {
    color: #F9804B;
}

@media (max-width: 1599px) {
    .header__wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__nav-item {
        margin-right: 48px;
    }
}

@media (max-width: 999px) {
    .header__wrapper {
        padding: 2px 20px 3px;
    }

    .header__logo {
        width: 47px;
        height: 29px;
    }

    .header__nav {
        margin-left: auto;
        margin-right: 0;
    }

    .header__nav-list {
        display: none;
    }

    .header__link--designed {
        display: none;
    }

    .header__nav-burger {
        display: block;
        width: 18px;
        height: 2px;

        background-color: white;
        border: none;
        border-radius: 2px;
        box-shadow: 0 -4px 0 0 #fff, 0 4px 0 0 #fff;
    }
}
