.range {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-bottom: 99px;
    height: 27px;
    padding: 3px 26px;

    background-color: #404950;
    border-radius: 2px;

    list-style: none;
}

.range::before {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 52px);
    left: 26px;
    top: calc(50% - 1px);
    background-color: #72828E;
}

.range__item {
    position: relative;
}

.range__label::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 6px;
    left: 0;
    background-color: #ffee2e;
    border-radius: 50%;
    cursor: pointer;
}

.range__input {
    width: 10px;
    height: 10px;
}

.range__sum {
    cursor: pointer;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    text-transform: uppercase;
    color: #333B41;
}

@media (max-width: 1599px) {
    .range {
        padding-left: 10px;
        padding-right: 10px;
    }

    .range::before {
        width: calc(100% - 20px);
        left: 10px;
    }

    .range__item:first-child {
        display: none;
    }

    .range__sum {
        margin-left: 10px;
    }
}

@media (max-width: 999px) {
    .range {
        padding-left: 35px;
        padding-right: 35px;
    }

    .range::before {
        width: calc(100% - 70px);
        left: 35px;
    }

    .range__item:nth-child(2),
    .range__item:nth-child(3) {
        display: none;
    }

    .range__sum {
        margin-left: 0;
    }
}

@media (max-width: 639px) {
    .range {
        height: 14px;
        margin-bottom: 49px;
        padding-left: 17px;
        padding-right: 17px;
    }

    .range::before {
        width: calc(100% - 34px);
        left: 17px;
    }

    .range__sum {
        top: 17px;
        margin-left: 0;
        font-size: 13px;
        line-height: 18.2px;
    }

    .range__label::before {
        height: 5px;
        width: 5px;
        top: 1px;
    }

    .range__input {
        width: 5px;
        height: 5px;
    }
}