.testimonials {
    padding-top: 140px;
    padding-bottom: 180px;

    background-image: url("../../images/leav_foto.png");
    background-position: right bottom -134px;
    background-repeat: no-repeat;
    background-size: 247px 408px;
}

.testimonials__title {
    margin-bottom: 47px;
    text-align: center;
    
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;

    color: #333B41;
}

.testimonials__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.testimonials__item {
    margin-left: 0;
    padding: 15px 15px 19px 15px;
    height: 391px;

    background: #F1F3F2;
    border: 1px solid #FEBDABBD;
    border-radius: 20px;

    overflow-y: hidden;
}

.testimonials__item-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.testimonials__item-other {
    display: inline-block;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;

    color: #BDBDBD;
}

.testimonials__item-review {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;

    color: var(--gray);
}

.testimonials__btn {
    margin-top: 60px;
}

@media (max-width: 1599px) {
    .testimonials {
        padding-top: 100px;
        padding-bottom: 140px;
        background-size: 200px 324px;
        background-position: right bottom -84px;
    }

    .testimonials__title {
        margin-bottom: 30px;
    }

    .testimonials__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .testimonials__item:last-child {
        display: none;
    }

    .testimonials__btn {
        margin-top: 81px;
    }
}
