.wild {
    padding-top: 140px;
    padding-bottom: 90px;

    background-image: url("../../images/flower_foto1.png");
    background-repeat: no-repeat;
    background-position: right top 15px;
    background-size: 203px 605px;
}

.wild__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .wild::before {
    position: absolute;
    content: "";
    top: 14px;
    right: 0;

    
    width: 203px;
    height: 605px;
} */

.wild__text {
    margin-left: 87px;
    width: 465px;
}

.wild__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
}

.wild__text-basis {
    margin-top: 20px;
    margin-bottom: 54px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.wild__subtitle {
    margin-bottom: 34px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.wild__text-goal {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

@media (max-width: 1599px) {
    .wild {
        padding-top: 100px;
        padding-bottom: 72px;
        background-image: none;
    }

    .wild__img {
        width: 455px;
        height: 408px;
        object-fit: cover;
    }

    .wild__text {
        margin-left: 31px;
    }
}

@media (max-width: 999px) { 
    .wild {
        padding-top: 60px;
        padding-bottom: 40px;
        background-image: url("../../images/flower_foto1.png");
        background-size: 158px 476px;
        background-position: right -28px top -3px;
    }
    
    .wild__inner {
        justify-content: flex-start;
    }

    .wild__img {
        display: none;
    }

    .wild__text {
        width: 82%;
        margin-left: 0;
    }

    .wild__title {
        margin-left: 4px;
    }

    .wild__subtitle {
        margin-bottom: 20px;
        margin-left: 4px;
    }

    .wild__text-basis {
        margin-bottom: 30px;
    }
}